.headerInfo {
    height:100%;
    width:100%;
    padding:0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.headerInfo:not(.headerInfoBalance) {
    align-items: center;
}

.headerInfo:not(.headerInfoBalance)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5em;
    width: 100%;
}

.headerInfoPerformance .headerInfoValue{
    color: var(--color-primary);
}

.headerInfoPerformance[role=infoSelected]::after {
    background: var(--color-primary);
}
.headerInfoExpense[role=infoSelected]::after {
    background: var(--color-secondary);
}

.headerInfoExpense .headerInfoValue{
    color: var(--color-secondary);
}

.headerInfoPerformance::after {
    background: var(--color-primary-opacity);
}
.headerInfoExpense::after {
    background: var(--color-secondary-opacity);
}

.headerInfoTitle {
    color: var(--color-shadow);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
}

.headerInfoValue {
    font-size: 1.5em;
    font-weight: bold;
} .headerInfoValue span{
    font-weight: bold;
}

.headerInfoBalance .headerInfoTitle {
    font-size: 1.3em;
}
.headerInfoBalance .headerInfoValue {
    font-size: 1.5em;
}