.fieldsetInput {
    border: 1px solid var(--color-shadow);
    border-radius: 5px;
    padding: 0 10px 5px 10px
}

.fieldsetInput legend{
    color: var(--color-shadow);
    padding: 0 5px;
}

.fieldsetInput input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.fieldsetInput input::placeholder {
    color: var(--color-shadow);
}