.header{
    background: var(--color-light-primary);
    width: 100%;
    height:30%;
    box-shadow: 0px 35px 25px -25px var(--color-shadow-opacity);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    border-radius: 10px;
    gap: 1em;
}

.header nav {
    display:flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

