.viewListInfoContainer {
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 10px 2em;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: showSelected 1.4s;
}

.viewListInfoContainer:not(.infoSelected) {
    display: none;
}

@keyframes showSelected {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(2rem)
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0)
    }
}

.inputArea {
    width: 100%;
    height:4em;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    gap:10px;
}.inputArea .inputData {
    flex-direction: row;
    height: 100%;
    display: flex;
    width: 80%;
    gap:10px;
}

.inputArea button {
    border:none;
    outline: none;
    height: calc(100% - 10px);
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
}

.infoExpense .inputArea button {
    background: var(--color-secondary-opacity);
    color: var(--color-secondary);
}
.infoPerformance .inputArea button {
    background: var(--color-primary-opacity);
    color: var(--color-primary);
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}
.list::-webkit-scrollbar {
    width:0.5rem;
}
.list::-webkit-scrollbar-track {
    background: var(--color-shadow-opacity);
    border-radius: 5px;
}

.infoPerformance .list::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}
.infoExpense .list::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.list:has(.msgListEmpty)  {
    justify-content: center;
    overflow: hidden;
}
.msgListEmpty {
    color: var(--color-shadow);
}