.appContainer {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}