@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

:root {

  --color-light-primary: #FFFFFF;
  --color-light-secondary: #f6f6f6;
  --color-shadow: #ACACAC;
  --color-shadow-opacity: #acacac21;
  --color-dark-primary: #181818;
  --color-dark-secondary: #202020;
  --color-primary:#07BB39;
  --color-primary-opcaity:#07bb3a21;
  --color-secondary: #DD0A23;
  --color-secondary-opacity:#dd0a2321;

  font-size: 16px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}