.itemList {
    border-bottom: 2px solid var(--color-shadow-opacity);
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

.itemListName {
    color: var(--color-shadow);
    font-size: 1em;
}

.itemListValue {
    font-weight: bold;
    color: var(--color-shadow);
    font-size: 1.2em;
} .itemListValue span {
    font-weight: bold; 
}

.itemListDate {
    position: absolute;
    right: 2em;
    color: var(--color-shadow);
    font-weight: 300;
}

.itemListPerformance .itemListValue {
    color: var(--color-primary)
}
.itemListExpense .itemListValue {
    color: var(--color-secondary)
}
